  <section class="hero is-primary is large is bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class=" column is-two-fifths">
            <div class="title">
              <img id="the-brain go-chat" src="image/brain_logo_copy.png" height="65" width="auto" alt="your chatty brain">
            </div>
          </div>
          <div class="column is-two-fifths">
            &nbsp;
          </div>
          <div id="user-div" class="column">
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section class="Site-content">
    <div class="container">
      <h1 class="is-size-2 has-text-primary has-text-centered">Comments</h1>
      <h2 class="is-size-4 has-text-primary has-text-centered">Come on, people. Let's keep it civil...</h2>
      <br>
      <div class="field is-vertical">
        <div class="field-label is-normal">
          <label class="label has-text-centered">Leave Your Comment</label>
          <br>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea id="comment-text" class="textarea" placeholder="Leave your comments here"></textarea>
            </div>
          </div>
        </div>
      </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button id="submit-comment-button" class="button is-primary is-pulled-right">
                Comment
              </button>
            </div>
          </div>
        </div>
      <div id="comment-post-div">
      </div>
      <hr>
      <div id="comments-div">
      </div>
    </div>
  </section>
  <footer class="has-text-centered">
    Lovingly designed and built by: Felix Moon | Jacob Chaffee | Jenna King | Ryan Hayden | Neil Dhand
  </footer>

  <script type="text/javascript" src="/js/comments.js"></script>
