/*//////////////////*/
/* Global Items */
/*//////////////////*/
/** {
  font-family: 'Lato', sans-serif;
}*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*//////////////////*/
/* Header Stuff     */
/*//////////////////*/

.hero-body, .section {
    padding: 10px !important;
}

div.hero-body {
  height: 90px;
}

#color-me {
  background-color: white
}
/*//////////////////*/
/* Font             */
/*//////////////////*/

.button.is-large {
    font-size: 15px !important;
}

#user-div {
    margin-top: 1%;
}

#user-logout {
  margin-top: -8.5%;
}

.nav-buttons {
  font-size: 15px
}


#wrapper {
  flex: 1;
}

/*//////////////////*/
/* Image Stuff      */
/*//////////////////*/

img {
    height: 65px;
    max-width: 100%;
}

/*//////////////////*/
/* Footer Stuff    */
/*//////////////////*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

/*//////////////////*/
/* Modal Forms      */
/*//////////////////*/

.modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 20;
}

.box {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 2rem;
}
