/*//////////////////*/
/* Global Items */
/*//////////////////*/
* {
  font-family: 'Lato', sans-serif;
}

/*//////////////////*/
/* Header Stuff     */
/*//////////////////*/

/*.is-size-5 {
    font-size: 15.75px;
}*/

.hero-body, .section {
    padding: 10px !important;
}

div.hero-body {
  height: 90px;
}
/*//////////////////*/
/* Font & Images    */
/*//////////////////*/

/*#title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;

}*/

img {
    height: 65px;
    max-width: 100%;
}

.button.is-large {
    font-size: 15px !important;
}

#funny {
  background-color: red;
}

#random {
  background-color: red;
}

#gaming {
  background-color: red;
}

#life {
  background-color: red;
}

#all {
  background-color: red;
}

#user-div {
    margin-top: 1%;
}

#user-logout {
  margin-top: -8.5%;
}

.nav-buttons {
  font-size: 15px
}

/*#header-bg {
    background-color: black;
    color: #fff;
}

.hero.is-primary .subtitle {
    color: rgba(255,255,255,.9);
    font-size: 13px;
    font-style: italic;
}

.button.is-primary.is-inverted {
    background-color: #fff;
    color: black;
}

.button.is-primary.is-inverted {
    background-color: #fff;
    color: black;
}*/

/*//////////////////*/
/* Modal Forms      */
/*//////////////////*/

.modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 20;
}

.box {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 2rem;
}
